<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/mail">Mail</a></li>
		        	<li><a href="http://bilder.westrup.se/shotweb/">Bildarkiv</a></li>
		        	<li><a href="https://westrup.se/confluence/x/DwAI">Recept</a></li>
	        		<li><a href="https://westrup.se/confluence/">Wiki</a></li>
	        		<li><a href="/blog/">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Anders Westrup</li>
	        		<li><a href="https://github.com/westrup">github.com/westrup</a></li>
				</ul>
			</footer>
		</body>
	</html>
